<!DOCTYPE HTML>
<html lang="fr-FR">
<head>
	<meta charset="UTF-8">
	<title>Les papiers de l'hydre</title>
	<link rel="stylesheet" type="text/css" href="css/chapter.css" media="all"/>
</head>
<body>
	<nav>
    <p>
      <a href="./" class="active">papiers.</a><a href="http://hyd.re">hyd.re</a>
    </p>
	  <a href="liste">La liste des papiers</a>
	  <a href="flux">Flux RSS / Atom</a>
	</nav>
	<article>
	  <p>Les papiers de l'hydre c'est une compilation de travaux écrits et
	  dessinés par Monke, Grustut et pourquoi pas d'autres collaborations.</p>
	  <p>Ce sont des documents de travail. Des trucs en majorité pas finis, ou
	  mis en pause ; prenez donc ce que vous lisez avec un grain de sel.</p>
	</article>
</body>
</html>
